body {
  font-family: Arial, sans-serif;
  color: #1f2041;
}

h1 {
  text-align: center;
}

.main-title {
  background-color: #4b3f72;
  color: white;
}

.section {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1rem;

  padding: 10px;
}

.title {
  padding-bottom: 5px;
  font-size: x-large;
}

.entryform {
  display: grid;
  gap: 1rem;
}

.btn {
  border-width: 1px;
  padding: 8px 8px;
  width: 100%;
  cursor: pointer;
  background-color: #4b3f72;
  color: white;
}

.form-input {
  margin-top: 1rem;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 4px;
  padding-right: 4px;
  border-width: 1px;
  border-color: gray;
  background-color: white;
  outline: none;
}

.history-list {
  display: flex;
  flex-direction: column;
  /* padding-top: 8px; */
  padding-bottom: 8px;
  gap: 1rem;
}

.type {
  background-color: red;
  border-radius: 50%;
}

.item {
  display: flex;
  justify-content: space-around;
  background-color: #4b3f72;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 2px;
  text-align: center;
  text-transform: capitalize;
  font-size: 15px;
  color: white;
  /* border: 5px solid black; */
  border-left: 10px solid;
}

.graph {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart {
  position: relative;
}

.chart .title {
  position: absolute;
  left: 0;
  right: 0;
  top: 20%;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  font-size: 30px;
}

.glabel {
  display: flex;
  flex-direction: column;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  gap: 1rem;
}

.tamt {
  margin-bottom: 10px;
  font-weight: bold;
  text-align: center;
}

.amtspan {
  display: block;
  font-size: larger;
  color: #00a878;
}

.delbtn {
  cursor: pointer;
}
